= render 'index_header'

%table{style: 'clear: both'}
  %tr
    %th= Supplier.human_attribute_name(:stype)
    %th= Supplier.human_attribute_name(:name)
    %th= Supplier.human_attribute_name(:address)
    %th= Supplier.human_attribute_name(:phone)
    %th= Supplier.human_attribute_name(:delivery_days)
    %th= Supplier.human_attribute_name(:articles_updated_at)
    %th
  - for supplier in @suppliers
    %tr
      %td
        = supplier.source ? "#{supplier.stype} (#{supplier.source})" : supplier.stype
      %td= link_to supplier.name, supplier_path(supplier)
      %td= supplier.address
      %td= supplier.phone
      %td= supplier.delivery_days
      %td{title: "#{I18n.l supplier.articles_updated_at rescue nil}"}
        = "#{distance_of_time_in_words_to_now(supplier.articles_updated_at)} ago" rescue nil
      %td= link_to supplier.articles.size.to_s + ' Articles', supplier_articles_url(supplier)

%br/
= link_to 'New supplier', new_supplier_url
